:root{
    /*color schemes*/
    --head : #444444;
    --body : #171717;
    --title : #fff;
    --upload : #3A6351;
    --uploadhover : #349168;
    --progressOuter: #444444;
    --progressInner : #66DE93;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

body{
    font-family: 'Verdana', sans-serif;
    background-color: var(--body);
}
.container{
    padding: 10px;
    width: 100%;
    height: 100vh;
}
.content{
    padding: 10px;
}
.header{
    display: table;
    width:100%;
    border-radius: 4px;
    background-color: var(--head);
}
.dn{
    display: none;
}
.dt{
    display: table;
}
.di{
    display: inline;
}
.row:after{
    content : "";
    position: relative;
    clear: both;
    display: table;
}

.c2{
    float:left;
    width: 50%;
}
.c3-t{
    float:left;
    width:33.33%;
    padding: 5px;
}
.c3{
    float:left;
    width:33.33%;
    padding: 5px;
}
.px{
    padding-left: 10px;
    padding-right: 10px;
}
.py{
    padding-top:10px;
    padding-bottom:10px;
}
.pt{
    padding-top:10px;
}
.mx{
    margin-left:10px;
    margin-right: 10px;
}
.my{
    margin-top: 10px;
    margin-bottom:10px;
}
.center{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.t-title{
    margin: 0 auto;
    display: table;
    font-size: 1.3em;
    color: var(--title);
    text-align: center;
}
.img{
    max-height: 250px;
    max-width: 100%;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}
.img:active{
    transform:scale(0.98);
}

.btn{
    border: none;
    color: var(--title);
    border-radius: 4px;
    padding: 7px 12px;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
}
.b-o{
    background-color: var(--upload);
}
.b-o:hover{
    background-color: var(--uploadhover);
}
.btn:active{
    transform:scale(0.96);
}

.progress{
    display: table;
}
.progress > div{
    display: none;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--progressOuter);
}
.progress > div > div{
    display: table;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--progressInner);
}
@media (max-width: 781px) and (min-width: 450px){
    .c3{
        width : 50%;
    }
}

@media (max-width: 499px){

    .c3{
        width: 100%;
    }
    .img{
        max-width : 100%;
        height: auto;
        max-height: unset; 
    }
}